<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper" style="display: flex; justify-content: space-between; align-items: center;">

      <!-- Icons (Left side) -->
      <div class="image123" style="display: flex; gap: 15px;">
        <a href="https://www.linkedin.com/in/sanskritichandak/" target="_blank">
          <img src="{{ '/graphics/linkedin.svg' | relative_url }}" style="width: 40px;">
        </a>
        <a href="https://github.com/sanskritichandak" target="_blank">
          <img src="{{ '/graphics/github.svg' | relative_url }}" style="width: 40px;">
        </a>
      </div>

      <!-- Name and Email (Right side) -->
      <div style="text-align: right;">
        {{ site.author }} <br>
        <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>

    </div>
  </div>
</footer>
