---
---

@import "minima";

// Custom light mode colors
$bg-col: #F9F9FC;
$text-col: #090909;
$header-color: #003366;
$footer-bg: #CCE0F5;

// Global page styling
body {
  background-color: $bg-col;
  color: $text-col;
}

.site-header {
  border-top: none;
  border-bottom: none;
  min-height: 55px;

  .site-title,
  .site-nav {
    color: $text-col !important;
  }
}

.site-footer {
  border-top: none;
  padding: 8px;
  background: $footer-bg;
  color: $text-col;
}

h2, h3, h4 {
  color: $header-color;
}

figure {
  display: inline-block;
  vertical-align: top;
}
